$light-blue: #e7ebf9;
$white: #fff;
$blue: #0b63dc;
$grey: #383b3f;
$light-grey: #aeb3b8;

* { box-sizing: border-box; }

.container {
  width: 100%;
}

body {
  background-color: $white;
}

h2 {
  font-size: 30px !important;
  text-align: center;
  color: #757580;
}

.album {
  display: inline-block;
  width: 33.333333333%;
  vertical-align: top;
  border: 1px solid #e9ecec;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
  position: relative;
  margin: 1em 0;
}

.album-cover {
  width: 100%;
  display: block;
}

.album-title {
  background: rgba(0, 0, 0, 0.6);
  color: #757580;
  font-size: 13px;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.album-length {
  position: absolute;
  top: -10px;
  left: -10px;
  border-radius: 50%;
  background: #ddd;
  width: 28px;
  height: 28px;
  text-align: center;
  line-height: 28px;
}

.selected-photo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 30px;
  margin-top: 30px;
}

.photos {
  margin: 10px;
  display: inline-block;
  cursor: pointer;
}

.background {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.container.photo-list {
  top: 30px;
  img {
    display: inline-block;
    width: 20%;
    vertical-align: top;
    border: 1px solid #e9ecec;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
    position: relative;
    margin: 1em 0;
  }
}
